.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 20px 0;
}

.textInput{
    margin: 10px;
    width: 85%;
}

.errorMsg{
    color: red;
    font-size: small;
    margin: 0;
}