.description{
    font-weight: 400;
}

.specLine{
    display: flex;
    justify-content: space-between;
}

.sum{
    display: flex;
    justify-content: space-between;
}

.price{
    display: inline;
    font-weight: 500;
}